<div class="app-window">
  <div class="header">
    <div class="title">FILTER USER LIST</div>
  </div>
  <div class="body">
    <p>Date: {{ pickedDate | date: 'MMM dd, yyyy HH:mm:ss a' }}</p>

    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <input type="text" matInput placeholder="Filter" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select Single Option</mat-label>
      <mat-select
        placeholder="Select Single Option"
        [formControl]="selectOptionFormControl"
        [panelWidth]="null"
      >
        @for (option of selectOptionsList; track $index) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- muliple select option -->
    <mat-form-field appearance="outline">
      <mat-label>Select multiple Option</mat-label>
      <mat-select
        placeholder="Select Single Option"
        multiple
        [formControl]="selectMultipleOptionFormControl"
      >
        <mat-select-trigger>
          {{ selectedOptions[0] }}

          <span class="additional-selection">
            {{ countOtherOptions() }}
          </span>
        </mat-select-trigger>

        @for (option of selectOptionsList; track $index) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Datepicker</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="dateFormControl"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint>MM/DD/YYYY</mat-hint>
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label>DateRangepicker</mat-label>

      <mat-date-range-input
        [rangePicker]="dateRangePicker"
        [formGroup]="dateRangeFormGroup"
      >
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>

      <mat-datepicker-toggle matIconSuffix [for]="dateRangePicker"></mat-datepicker-toggle>

      <mat-date-range-picker
        #dateRangePicker
      ></mat-date-range-picker>
    </mat-form-field>

    <div class="button-scroll">
      <button mat-stroked-button>Filter Data</button>
      
    </div>
  </div>
</div>
