:host(.app-host) {
  flex: 1;
  display: flex;
  overflow: hidden;
}
mat-drawer-container {
  flex: 1;
  display: flex;
  overflow: hidden;

  mat-drawer {
    flex: 1;
    display: flex;
    overflow: hidden;

    ::ng-deep.mat-drawer-inner-container {
      flex: 1;
      display: flex;
      overflow: hidden;
    }
  }

  mat-drawer-content {
    flex: 1;
    display: flex;
    overflow: hidden;
  }
}
