.app-window {

	.body {

		padding: 32px;

		.signin-form {

			width: 330px;

			.logo {
				background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
				background-size: cover;
			}

			mat-card-actions {
				padding: 0 16px;
			}

		}

	}

}