<div class="app-window">
	<div class="body">
		<mat-card class="signin-form">
			<mat-card-header>
				<div mat-card-avatar class="logo"></div>
				<mat-card-title>
					Angular Study
				</mat-card-title>
				<mat-card-subtitle>
					Authentication
				</mat-card-subtitle>
			</mat-card-header>
			<br>
			<mat-card-content>
				<mat-form-field class="full-width">
					<mat-label>Username</mat-label>
					<input matInput type="username" placeholder="Username" [value]=[username]>
				</mat-form-field>

				<mat-form-field class="full-width">
					<mat-label>Password</mat-label>
					<input matInput type="password" placeholder="Password">
				</mat-form-field>

				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Mobile Phone</mat-label>
					<span matTextPrefix>09 &nbsp;</span>
					<input matInput type="text" placeholder="Mobile Phone">
					<mat-hint>0912345678</mat-hint>
					<mat-icon matSuffix>phone</mat-icon>
				</mat-form-field>

				<br />
				<br />
				
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Email</mat-label>
					<span matTextSuffix>&#64;phh.com</span>
					<input matInput type="text" placeholder="Email">
				</mat-form-field>

			</mat-card-content>
			<mat-card-actions>
				<button mat-flat-button color="primary">Sign in</button>
				<!-- <button mat-flat-button color="primary" (click)="gotoHome()">Home</button> -->
				<button mat-flat-button color="primary" (click)="gotoPrivate()">Private</button>
				<button mat-flat-button color="primary" (click)="gotoPublic()">Public</button>
			</mat-card-actions>
		</mat-card>

	</div>


</div>