@use 'sass:meta';
@use '@angular/material' as mat;

$variants: 'primary', 'secondary', 'tertiary', 'error';
$components: (
  'badge',
  'button',
  'checkbox',
  'chips',
  'datepicker',
  'form-field',
  'fab',
  'icon',
  'option',
  'progress-bar',
  'progress-spinner',
  'pseudo-checkbox',
  'radio',
  'select',
  'slide-toggle',
  'slider',
  'stepper',
  'tabs'
);

@mixin mat-component-variants($theme) {
  @each $variant in $variants {
    .#{$variant} {
      @each $component in $components {
        @if (is-variant-supported($variant, $component)) {
          @include meta.apply(
            meta.get-mixin('#{$component}-color', mat),
            $theme,
            $color-variant: $variant
          );
        }
      }
    }

    @each $component in $components {
      @if (is-variant-supported($variant, $component)) {
        .#{$variant}-#{$component} {
          @include meta.apply(
            meta.get-mixin('#{$component}-color', mat),
            $theme,
            $color-variant: $variant
          );
        }
      }
    }
  }
}

@function is-variant-supported($variant, $component) {
  @if ($variant == 'error' and $component == 'fab') {
    @return false;
  }

  @return true;
}
