<div class="app-window">
	<div class="header">
		<div class="title">User Lists</div>
	</div>
	<div class="body">
		<div class="content-container">
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
			<p>This is content</p>
		</div>

		<app-table-pages [activePage]="2" [pageList]="parentPageList"></app-table-pages>
	</div>
	
</div>