<div class="app-window">
  <div class="header">
    <div class="title">User Lists (Page No: {{ activePage }})</div>
    <div class="IsFirst">First Page : {{ isFirstPage ? 'Yes' : 'No' }}</div>
    <div class="IsLast">Last Page : {{ isLastPage ? 'Yes' : 'No' }}</div>
  </div>
  <div class="body">
    <div class="content-container">
      @for (user of usersList; track $index) {
        <div class="user">{{ $index + 1 }}. {{ user.name }}</div>
      }
    </div>

    <div class="table-footer">
      <app-table-pages
        [activePage]="activePage"
        [pageList]="parentPageList"
        (onPageChanged)="pageChanged($event)"
      ></app-table-pages>

      <app-table-first-last
        (onFirstPage)="firstPageChanged($event)"
        (onLastPage)="lastPageChanged($event)"
      ></app-table-first-last>
    </div>
  </div>
</div>
