.app-window {
  display: flex;

  .body {
    display: flex;
    padding: 8px;

    button {
      margin: 0 4px;
    }
    button[active=true] {
      color: white;
      background-color: green;
    }
  }
}