/* You can add global styles to this file, and also import other style files */
@use './resources/assets/styles/input-form-field.style.scss';

html {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    flex: 1;
    display: flex;
    height: 100%;
    overflow: hidden;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
}

app-root {
    flex: 1;
    display: flex;
    overflow: hidden;

    app-home {
        flex: 1;
        display: flex;
        overflow: hidden;
    }
}