.app-window {
  display: flex;
  flex-direction: column;
  padding: 16px;

  .header {
    display: flex;
    flex-direction: column;
    padding: 16px;

    .title {
      font-size: x-large;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

}